body{
margin:0;
padding : 0;
background-size :cover;
background-position:center;
font-family:sans-serif;
background-color:black;
}
.loginbox{
	width:500px;
	height:400px;
	text-align:center;
	//background :rgba(52 , 73 , 94 ,0.7);
	//position: absolute;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
    border: black 2px;
    padding: none;
	background-color:gray;
	
 }
.avator{
	width:170px;
	height:140px;
	border-radius:50%;
	//position: absolute;
	margin-top:-60px;
	margin-right:30px;
	z-index : 1;
	float : center;
}

h2{
	
	font-size:1.8em;
	color: #b11632;
	font-family :Algerian;
}
.loginbox hr{
    height: 1px;
    width: 120px;
    color: goldenrod;
    background-color: goldenrod;
    border: none;
    margin-top: 5px;
}
.loginbox input[type="text" ]{
    direction:ltr;
    padding: 10px;
    text-align: left;
	font-size: 1.5em;
	width:400px;
	margin-bottom:20px;
    display: block;
    padding-left: 30px;
    margin-left:30px;
    content: "\f007";

}
.loginbox input[type="password" ]{
	font-size: 1.5em;
	padding: 10px;
	text-align: left;
	width:400px;
	margin-bottom:20px;
	display: block;
	padding-left: 30px;
	margin-left:30px


}
.c{
     
	font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	text-align:center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	 45deg, pink 15%, white 50%, pink 75% );
	 width:445px;
	 height:55px;
	 color:#b11632;
	 font-family :Algerian;

	  
}
.c:hover{
	background:#b49bb5;
	color: #b11632;
	padding:8px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
}

marquee{
	margin:0;
padding : 0;
background-size :cover;
background-position:center;
	border:2px solid #b11632;
	font-size:30px;
	margin-top:6px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
	color: #b11632;
	font-family :Algerian;
	
	}
 
 .menu{
	 width:1435px;
	 height:210px;
	 padding:7px;
	 margin-top:7px;
	 margin-bottom:7px;
}
#mo{
 border: 3px solid #b11632;
    font-size: 30px;
    border-radius: 50%;
    width: 150px;
    -moz-border-radius: 800px;
    height: 150px;
    align-items: center;
    text-align: center;

}
 
h1{
margin:0;
padding : 0;
background-size :cover;
background-position:center;
		
	background-color:#9c8d8d; 
	border: 2px solid #b11632;
	align:right ;
	height:100px;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, #ccc), color-stop(50%, white),
	color-stop(75%,  #ccc) );
	background: -moz-linear-gradient(
	top left,  #ccc 15%, white 50%,  #ccc 75% );
	background: linear-gradient(
	45deg,  #ccc 15%, white 50%,  #ccc 75% );
}

.f{
	margin:0;
padding : 0;
background-size :cover;
background-position:center;
   width:160px;
    position:relative;
	float:left;
	list-style-type:none;
	font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	margin-left:100px;
	margin-right:40px;
	margin-bottom:30px;
	text-align: center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
}

.f:hover{
	background:#b49bb5;
	color: #b11632;
	padding:8px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
}


.foter{
		background-color:#f5bad7;
		font-family:Tahoma,Geneva,sans-serif;
		text-align:center;
		font-size:20px;
		border:solid #999 1px;
		border-radius:3px 3px;
		margin-top:1px;
		margin-bottom:5px;
		background:#b49bb5;
		color: #b11632;
		padding:8px;
		background: -webkit-gradient(
		linear, left top, right bottom,
		color-stop(15%, #ccc), color-stop(50%, white),
		color-stop(75%, #ccc) );
		background: -moz-linear-gradient(
		top left, #ccc 15%, white 50%, #ccc 75% );
		background: linear-gradient(
		45deg, #ccc 15%, white 50%, #ccc 75% );
		color: #b11632;
	font-family :Algerian;
	}
	a:hover{
		color:green
		}
	a{
		text-decoration:none
		}
		a:active{
		color:red;
		text-decoration:line-through;
		font-weight:100
		}



/*


hr{
    height: 8px;
    width: 500px;
    border: none;
    color: goldenrod;
    background-color: goldenrod;
    margin-top: 1px;
}
.pp{
	margin:0;
	padding :0  ;
	text-align : center;
	font-weight :bold;
	font-size: 1.5em;
	color: white;
}
.loginbox::before{
    content: "\f007";
    position: absolute;
}
.loginbox input[ type="checkbox"]{
   color: white
}
.hh{
    float: left;
    background-color: goldenrod;
    margin-left: 20px;
    border: none;
    padding: 7px;
    color: white;
    font-size: 1em;
}
.mm{
    //margin-bottom : 30px;
    margin-top: 20px;
    padding: 10px;
    background-color: goldenrod;
    color: white;
    font-size: 1em;
    border: none;
    margin-right:10px;
    
}*/
