body{
	 background-color: black;
	
}


#a{
	 border: 3px solid white;
	 width: 1560px;
	 height:35px;	
	 background-color:gray;
	
	
}
#b{
	 border: 3px solid white;
	 width: 1560px;
	 height:330px;
	 background-image: url(../images/al.jpg);
	 direction:rtl;
	 border-radius:5px 5px 5px 5px;
	 position:relative;
	 background-color:black;
}
#c{
		
	 border: 3px solid black;
	 width: 1560px;
	 height:250px;
	 direction:rtl;
	 border-radius:5px 5px 5px 5px;
	 position:relative;
		
		
	}
	h1{
		margin-right:50%;
		font-family:"Times New Roman",Times,Serif;
	    font-size:40px;
	    font-weight:bold;
	    text-shadow::#bbccbb 2px 2px; 
		
	}

.o{
	
    border: 5px solid white;
    font-size: 30px;
    border-radius: 50%;
    width:160px;
    -moz-border-radius:800px;
    height:160px;
    align-items: center;
    text-align: center;
	margin-right:50%;
	margin-top:17%;
	position:relative;
	background-color:black;
	background-image: url(pp.jpg);
}
	.r{
	 border: 2px solid #b11632;
	 width: 1560px;
	 height:70px;
	 margin:10px;
	 background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, gray), color-stop(50%, white),
	color-stop(75%, gray) );
	background: -moz-linear-gradient(
	top left, gray 15%, white 50%, gray 75% );
	background: linear-gradient(
	45deg, gray 15%, white 50%, gray 75% );
		
	}
	
li{
     list-style-type: none;
    text-decoration-style: none;
    display: inline-block;
    color: black;
	width:160px;
	height:25px;
    position:relative;
	float:left;
	list-style-type:none;
	font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	margin-left:170px;
	margin-right:50px;
	margin-bottom:30px;
	text-align: center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
	padding:10px;
    
}
li:hover{
	background:#b49bb5;
	color: #b11632;
	padding:8px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
}
marquee{
	border:2px solid #b11632;
	font-size:30px;
	margin-top:6px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
	
	}
	.u{
	 border: 3px solid black;
	 width: 1560px;
	 height:73px;
	 margin-top:160px;	
	border: 2px solid #b11632;
	align:right ;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, gray), color-stop(50%, white),
	color-stop(75%, gray) );
	background: -moz-linear-gradient(
	top left, gray 15%, white 50%, gray 75% );
	background: linear-gradient(
	45deg, gray 15%, white 50%, gray 75% );
	}
	img{
	
	border-radius: 50%;
    width:160px;
    -moz-border-radius:800px;
    height:160px;
		
	}