 
	
.foter{
		background-color:#f5bad7;
		font-family:Tahoma,Geneva,sans-serif;
		text-align:center;
		font-size:20px;
		border:solid #999 1px;
		border-radius:3px 3px;
		margin-top:1px;
		margin-bottom:5px;
		background:#b49bb5;
		color: #b11632;
		padding:8px;
		background: -webkit-gradient(
		linear, left top, right bottom,
		color-stop(15%, #ccc), color-stop(50%, white),
		color-stop(75%, #ccc) );
		background: -moz-linear-gradient(
		top left, #ccc 15%, white 50%, #ccc 75% );
		background: linear-gradient(
		45deg, #ccc 15%, white 50%, #ccc 75% );
		color: #b11632;
	font-family :Algerian;
	width: 100%;
	}
	@medi
	a:hover{
		color:green
		}
	a{
		text-decoration:none
		}
		a:active{
		color:red;
		text-decoration:line-through;
		font-weight:100
		}
	 