

body{

    background: -webkit-radial-gradient(center,black,black,black,pink);
	margin:0;
	padding : 0;
	background-size :cover;
    background-position :center;
}
.a{
  margin-right:60%;
 margin-bottom:20%;
 margin-left:33%;
  width:550px;
 height:1070px;
 background-color:#ccc;
 border-bottom-right-radius:10%;
 border-bottom-left-radius:10%;
 border-top-right-radius:10%;
 border-top-left-radius:10%;
 align-items:center;
 padding-top:10px;
  padding-left:8%;
 padding-bottom:10px;

}
input{
 
 width:270px;
 height:45px;
 margin-left:61px;
 color:#b11632;

}
 
h2
{   
     height:90px;
	 width:300px;
	 border:2px solid #b11632;
	 margin-left:40px;
	 margin-top:50px;
     text-align:center;
	 color:#b11632;
     padding-top:40px;
     padding-left:10px;
     padding-right:10px;
	 border-bottom-right-radius:20%;
	 border-bottom-left-radius:20%;
	 border-top-right-radius:20%;
	 border-top-left-radius:20%;
	 background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
	
	}
.c{
     
	font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	text-align: center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
	  
}
.c:hover{
	background:#b49bb5;
	color: #b11632;
	padding:8px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
}

  	 
	 .m{
	width:45px;
    height:40px;
	margin-left:20px; 
	//margin-top:20px; 
	 }
	 .r{
		margin-left:61px;
	 width:250px;
    height:55px;
	 font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	text-align:center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	 45deg, pink 15%, white 50%, pink 75% );
	 color:#b11632;
	 font-family :Algerian; 
		 
		 
	 }
	 
marquee{
	border:2px solid #b11632;
	font-size:30px;
	margin-top:6px;
	font-family :Algerian;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
	
	}
 
 .menu{
	 width:1435px;
	 height:210px;
	 padding:7px;
	 margin-top:7px;
	 margin-bottom:7px;
}
#mo{
 border: 3px solid #b11632;
    font-size: 30px;
    border-radius: 50%;
    width: 150px;
    -moz-border-radius: 800px;
    height: 150px;
    align-items: center;
    text-align: center;

}
 
h1{
margin:0;
padding : 0;
background-size :cover;
background-position:center;
		
	background-color:#9c8d8d; 
	border: 2px solid #b11632;
	align:right ;
	height:100px;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, #ccc), color-stop(50%, white),
	color-stop(75%,  #ccc) );
	background: -moz-linear-gradient(
	top left,  #ccc 15%, white 50%,  #ccc 75% );
	background: linear-gradient(
	45deg,  #ccc 15%, white 50%,  #ccc 75% );
}

.f{
	margin:0;
padding : 0;
background-size :cover;
background-position:center;
   width:160px;
    position:relative;
	float:left;
	list-style-type:none;
	font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	margin-left:100px;
	margin-right:40px;
	margin-bottom:30px;
	text-align: center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
}

.f:hover{
	background:#b49bb5;
	color: #b11632;
	padding:8px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
}

 