 
body{

    background: -webkit-radial-gradient(center,black,black,black,pink);
	margin:0;
	padding : 0;
	background-size :cover;
    background-position :center;
}
.a{
  
 
  margin-left:33%;
 margin-top:10%;
  margin-bottom:25%;
 width:380px;
 height:500px;
 background-color:#ccc;
 border-bottom-right-radius:10%;
 border-bottom-left-radius:10%;
 border-top-right-radius:10%;
 border-top-left-radius:10%;
 align-items:center;
 padding-top:10px;
 padding-bottom:10px;

}
input{
 
 width:270px;
 height:45px;
 margin-left:61px;
 color:#b11632;

}
 
h2
{   
     height:90px;
	 width:265px;
	 border:2px solid #b11632;
	 margin-left:60px;
	 margin-top:60px;
     text-align:center;
	 color:#b11632;
     padding-top:50px;
     padding-left:10px;
     padding-right:10px;
	 border-bottom-right-radius:20%;
	 border-bottom-left-radius:20%;
	 border-top-right-radius:20%;
	 border-top-left-radius:20%;
	 background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
	
	}
.c{
     
	font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	text-align: center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
	  
}
.c:hover{
	background:#b49bb5;
	color: #b11632;
	padding:8px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
}

marquee{
	border:2px solid #b11632;
	font-size:30px;
	margin-top:6px;
	font-family :Algerian;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
	
	}
 
 .menu{
	 width:1435px;
	 height:210px;
	 padding:7px;
	 margin-top:7px;
	 margin-bottom:7px;
}
#mo{
 border: 3px solid #b11632;
    font-size: 30px;
    border-radius: 50%;
    width: 150px;
    -moz-border-radius: 800px;
    height: 150px;
    align-items: center;
    text-align: center;

}
 
h1{
background-color:#9c8d8d; 
border: 2px solid #b11632;
align:right ;
height:100px;
background: -webkit-gradient(
linear, left top, right bottom,
color-stop(15%, #ccc), color-stop(50%, white),
color-stop(75%,  #ccc) );
background: -moz-linear-gradient(
top left,  #ccc 15%, white 50%,  #ccc 75% );
background: linear-gradient(
45deg,  #ccc 15%, white 50%,  #ccc 75% );
}

.f{
   width:160px;
    position:relative;
	float:left;
	list-style-type:none;
	font-size:25px;
	background:#f5bad7;
	border:1px solid #b11632;
	padding:10px;
	margin-left:100px;
	margin-right:40px;
	margin-bottom:30px;
	text-align: center;
	background: -webkit-gradient(
	linear, left top, right bottom,
	color-stop(15%, pink), color-stop(50%, white),
	color-stop(75%, pink) );
	background: -moz-linear-gradient(
	top left, pink 15%, white 50%, pink 75% );
	background: linear-gradient(
	45deg, pink 15%, white 50%, pink 75% );
}

.f:hover{
	background:#b49bb5;
	color: #b11632;
	padding:8px;
	background: -webkit-gradient(
    linear, left top, right bottom,
	color-stop(15%, plum), color-stop(50%, white),
	color-stop(75%, plum) );
	background: -moz-linear-gradient(
	top left, plum 15%, white 50%, plum 75% );
	background: linear-gradient(
	45deg, plum 15%, white 50%, plum 75% );
}

 