 
 body{
    margin-left:38px;
    background: -webkit-gradient(
	linear,left top, right bottom, 
	color-stop(25%, gray), color-stop(50%, pink),
	color-stop(65%, gray) );
	background: -moz-linear-gradient(
	top left, gray 25%, pink 50%, gray 65% );
	background: linear-gradient(
	45deg, gray 25%, pink 50%, gray 65% );
 
 }
 p {
    
	font-family:"Times New Roman",Times,Serif;
	font-size:32px;
	color:#000;
}
.hh{
 margin-left:48px;
 }
 
 
 